body{
  background-color: hsl(0, 0%, 60%);
}
.to-do-list{
  font-family: cursive, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: palevioletred;
  border-radius: 15px;
  cursor: pointer ; /*when hovering over a button*/
  transition: background-color 0.75s ease; /*ease over 0.5s*/

}
.add-button{
  background-color: hsl(277, 34%, 45%);
}
.add-button:hover{
  background-color: hsl(277, 34%, 25%);
}

.delete-button{
  background-color: hsl(0, 72%, 54%);
}
.delete-button:hover{
  background-color: hsl(0, 72%, 25%);
}

.move-button{
  background-color: hsl(314, 75%, 66%);
}
.move-button:hover{
  background-color: hsl(314, 72%, 25%);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(350, 100%, 88%, 0.75);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left:10px;
}

